
body {
  font-family: 'News Cycle', sans-serif;
}

#page{
  background-color:black;
}
#maincontainer{
  background-color:white;
  padding:3%;
  margin-left: 30px;
  margin-right: 30px;
}

h1{
  color: white;
  font: Belgrano;
  padding:5px;
  margin-left: 30px;
  margin-right: 30px;
}

p{
  color: white;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

#explore {
  text-align:end;
  margin-right: 100px;
}

footer{
  color: rgb(196, 196, 196);
  margin-left: 35px
}

a:hover{
  color:rgb(15, 191, 15)
}

a:visited{
  color: rgb(244, 53, 244);
}

a:link{
  color: blue;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  border-radius:1mm;
  height: 200px;
  width: 200px;
  border: 1px solid rgb(255, 255, 255,0.5);
  background: rgb(128, 128, 128,0.5);
  margin: 5px;
  padding: 6px;

}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  margin: 3px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 15%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}