h1{
    color: rgb(0, 0, 0);
  font-family: 'Bad Script';
  font-size: 40px;
}

#sauce:hover{
  cursor: pointer;
}

#flag:hover{
  cursor: pointer;
}

#sun:hover{
  cursor: pointer;
}

#scissor:hover{
  cursor: pointer;
}

#yarn:hover{
  cursor: pointer;
}

#shovel:hover{
  cursor: pointer;
}

#plane:hover{
  cursor: pointer;
}

#tree:hover{
  cursor: pointer;
}

/**************************
  Basic Modal Styles
**************************/
