h1{
    color: rgb(0, 0, 0);
  font-family: 'Bad Script';
  font-size: 40px;
}
.titleBottom{
  /* margin:auto; */
}

.paragraphText{
  font-family: 'PT Serif';
}


button{
  font-family: 'PT Serif';
  background-color: #ffffff; /* Green */
  border: none;
  text-align: center;
  cursor: pointer;
}

body{
  background-image: url('clouds.png');
}

#main{
  background-color: rgba(255, 255, 255, 0.426);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#innerMain{
  padding: 13%;
}