h1{
    color: rgb(0, 0, 0);
  font-family: 'Bad Script';
  font-size: 40px;
}

.paragraphText{
  font-family: 'PT Serif';
}


button{
  font-family: 'PT Serif';
  background-color: #ffffff; /* Green */
  border: none;
  text-align: center;
  cursor: pointer;
}

body{
  background-image: url(https://lh3.googleusercontent.com/LsOOMX5Na8PP2pdPRX2C5BC8BPO2n9vM82P0gILbVo4tlwYg6FxNn-vb8n932s8nkjgikBPChxp29j_btHF21lG9KTCzooOLqmBWW5TG9INwMiTASn--01WIcVdEakMmAgAe6KwTtz-2XRbBhQvZjyHUcSaZcddAuexgvi6qCVdz88pcWxByAF1HV-PwHCmDKFrvrxCU7QdI09wApbPDJ0B76bCffX0qgWLsYNlAP4RQJ_TTloryUzLBkLo6lll7OxzKeNSM6A-EV-G76l7S4BbIMCk9x468Ats5-4-IE-7CMF9sB03yqPXuQIoenaGsV0-ph53asuxyDLokYgqCVgYFgf5B5Ij6vdIcHTqteIdZO8gBTyXIAWLOG3huE8iyuWQPoIFPgonoN8qxufCu9Ggwwyikp4oGU-0ZcDH11XtHBRhX4pIHT1dIvuLz1TCR84Bm0Z-F1tWRVZj3fWd5ry9lKJL8k7LOUdglo7kfM_bqEx0RlZsDVN7-zwsCpKr_ULPmYN8ElmqZF3675RFLhWF8LVk7R48PiA50W0ufwzcuMvpGlgo54CmOMZHCUmvUxFxF7JyKSC6BtKbVRBxSkYlycC3k4P3X67DVJGnuGsan0c1kzfBKwyxvwU_gcotPkZUjH-jLGwzvJnHf7YfC9EcBgqhhKFIlPjkuAWcxlWLPoEkXnPNweHGet_HZJaUToFh_463Ab2bMDk6vXvzvv_L3xsrrGyzHzBT8RJffNNs_5-SpBv4nM8IpAARomTNovv9juA1hdoNexnXZS96yYboS3XBdHMczoRBy6po3767f6b0XaZjmOUftXWkK4NeUZfZVlO_Yfu4awG6ZNbgkRJ3KE1KDZQbsgjj68_WAyRgiYNjXiMga5lzGITqfXCCqEDlSkG16rvOq-mdto2237lCEhKKOxm9Pezw6ptEIu69U5AENgw4rbCG6PJwMEfOfGnJ89AkIBxyY8xcxdl8kiiBNaJxaqbeGG0T9OGJl6VlL1ZQx49eGu3o=w1766-h1358-no?authuser=0);
}

#main{
  background-color: rgba(255, 255, 255, 0.426);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#innerMain{
  padding: 13%;
}