h1{
    color: rgb(0, 0, 0);
  font-family: 'Bad Script';
  font-size: 40px;
  margin: 5px;
  text-align: center;
}

body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

.svg{
  /* width: inherit;
  height: inherit;
  margin: 1px; */
}

.titlebottom{
  margin-top: 15px;
}

#sauce:hover{
  cursor: pointer;
}

#flag:hover{
  cursor: pointer;
}

#sun:hover{
  cursor: pointer;
}

#scissor:hover{
  cursor: pointer;
}

#yarn:hover{
  cursor: pointer;
}

#shovel:hover{
  cursor: pointer;
}

#plane:hover{
  cursor: pointer;
}

#tree:hover{
  cursor: pointer;
}

h4{
  font-family: 'Bad Script';
}

.modal-body{
  font-family: "PT Serif";
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
/**************************
  Basic Modal Styles
**************************/
body{
  background-image: url(https://lh3.googleusercontent.com/LsOOMX5Na8PP2pdPRX2C5BC8BPO2n9vM82P0gILbVo4tlwYg6FxNn-vb8n932s8nkjgikBPChxp29j_btHF21lG9KTCzooOLqmBWW5TG9INwMiTASn--01WIcVdEakMmAgAe6KwTtz-2XRbBhQvZjyHUcSaZcddAuexgvi6qCVdz88pcWxByAF1HV-PwHCmDKFrvrxCU7QdI09wApbPDJ0B76bCffX0qgWLsYNlAP4RQJ_TTloryUzLBkLo6lll7OxzKeNSM6A-EV-G76l7S4BbIMCk9x468Ats5-4-IE-7CMF9sB03yqPXuQIoenaGsV0-ph53asuxyDLokYgqCVgYFgf5B5Ij6vdIcHTqteIdZO8gBTyXIAWLOG3huE8iyuWQPoIFPgonoN8qxufCu9Ggwwyikp4oGU-0ZcDH11XtHBRhX4pIHT1dIvuLz1TCR84Bm0Z-F1tWRVZj3fWd5ry9lKJL8k7LOUdglo7kfM_bqEx0RlZsDVN7-zwsCpKr_ULPmYN8ElmqZF3675RFLhWF8LVk7R48PiA50W0ufwzcuMvpGlgo54CmOMZHCUmvUxFxF7JyKSC6BtKbVRBxSkYlycC3k4P3X67DVJGnuGsan0c1kzfBKwyxvwU_gcotPkZUjH-jLGwzvJnHf7YfC9EcBgqhhKFIlPjkuAWcxlWLPoEkXnPNweHGet_HZJaUToFh_463Ab2bMDk6vXvzvv_L3xsrrGyzHzBT8RJffNNs_5-SpBv4nM8IpAARomTNovv9juA1hdoNexnXZS96yYboS3XBdHMczoRBy6po3767f6b0XaZjmOUftXWkK4NeUZfZVlO_Yfu4awG6ZNbgkRJ3KE1KDZQbsgjj68_WAyRgiYNjXiMga5lzGITqfXCCqEDlSkG16rvOq-mdto2237lCEhKKOxm9Pezw6ptEIu69U5AENgw4rbCG6PJwMEfOfGnJ89AkIBxyY8xcxdl8kiiBNaJxaqbeGG0T9OGJl6VlL1ZQx49eGu3o=w1766-h1358-no?authuser=0);
}