h1{
    color: rgb(0, 0, 0);
  font-family: 'Bad Script';
  font-size: 40px;
  margin: 5px;
  text-align: center;
}

body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

.svg{
  width: inherit;
  height: inherit;
  margin: 1px;
}

.titlebottom{
  margin-top: 15px;
}

#sauce:hover{
  cursor: pointer;
}

#flag:hover{
  cursor: pointer;
}

#sun:hover{
  cursor: pointer;
}

#scissor:hover{
  cursor: pointer;
}

#yarn:hover{
  cursor: pointer;
}

#shovel:hover{
  cursor: pointer;
}

#plane:hover{
  cursor: pointer;
}

#tree:hover{
  cursor: pointer;
}

h4{
  font-family: 'Bad Script';
}

.modal-body{
  font-family: "PT Serif";
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**************************
  Basic Modal Styles
**************************/
body{
  background-image: url('clouds.png');}